<!DOCTYPE html>
<html lang="en" ng-app="myApp">
   <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <meta http-equiv="X-UA-Compatible" content="ie=edge">
      <script type="application/javascript"    src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.5/angular.min.js"></script>  
      <title>LED</title>
      <link rel="stylesheet" type="text/css" href="/css/style.css">
      <link href="https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300" rel="stylesheet">

   </head>
   <body  ng-controller="monControl">
      <div class="navContainer">
         <div class="bloc">
            <nav class="crumbs">
               <ul class="noma">
                  <li class="crumb"><a href="/Dashboard">Dashboard</a></li>
                  <li class="crumb"><a href="/Devices">Devices</a></li>
                  <li class="crumb"><a href="/DevicesDetails">Devices Details</a></li>
               </ul>
            </nav>
            <nav>
               <ul>
                  <li>
                     <a href="/login">Log in</a>
                  </li>
               </ul>
            </nav>
         </div>
      </div>
      <form>
         Tell your device what to do!<br>
         <br>
         <input type="radio" name="arg" value="on" ng-model="modelONoff">Turn the LED on.
         <br>
         <input type="radio" name="arg" value="off" ng-model="modelONoff">Turn the LED off.
         <br>
         <br>
         <button type="button" ng-click="switch()" value="Do it!">Do it</button>
      </form>
      <div class="container">

         <div class="nbDevice">Nombre Devices</div>
   
      </div>
   </body>
   <script type="application/javascript" src="/javascript/app.js"></script>
   <script type="application/javascript" src="/javascript/controller.js"></script>
   <script type="text/javascript" src="//cdn.jsdelivr.net/particle-api-js/5/particle.min.js"></script>
</html>